.bg-primary {
  background-color: $black-2 !important;
}

.nav-pills {
  .nav-link {
    border-radius: 4px;
    padding: 10px 16px;
    color: $white;
    cursor: pointer;
    &.active {
      background-color: rgba($white, 0.1);
    }
    &:hover {
      background-color: rgba($white, 0.05);
    }
  }
}
